.works {
    padding-top: 100px;
    padding-bottom: 100px;
}
.works-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.works-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.works-presentation {
    margin-right: -15px;
    margin-left: -15px;
}
.works-title {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.title {
    color: #303030;
    font-size: 55px;
    padding-bottom: 40px;
    text-transform: uppercase;
    margin-left: 6%;
}
.wrapper-container {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.works-wrap {
    border-radius: 2px;
    text-align: center;
    padding: 80px 40px 80px 40px;
    transition: all 0.6s ease-in;
}
.fas {
    color: #000;
    font-size: 60px;
    padding-bottom: 40px;
}
.wrap-title {
    color: #eb5424;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

@media (max-width:991px) {
    .wrap-title {
        font-size: 13px;
    }
    .works-wrap p {
        font-size: 13px;
    }
}
@media (max-width: 767px) {
    .works {
        width: 100%;
    }
    .works-row {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .wrapper-container {
        width: 100%;
    }
    .fas {
        font-size: 60px;
    }
    .wrap-title {
        font-size: 20px;
    }
    .works-wrap p {
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
}